body {
    margin: 25px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(https://images.unsplash.com/photo-1517832606299-7ae9b720a186?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFyYmVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-position: top center;
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 10px 100px 100px 100px;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
    justify-content: space-between;
}

 a {
     color:rgb(121, 26, 26);
     padding: 2px;
 }

 a:visited {
     color: rgb(221, 216, 216);
 }

 a:hover {
     text-decoration: rgb(218, 28, 28);  
     color: rgb(218, 28, 28);  
 }

.logo {
    width: auto;
    float: center;
}

.about-us, .our-team, .prices, .barberschool {
    padding: 40px;
    margin: 60px;
    background-color:grey;
    color: black;
    opacity: 0.8;

}

h2{
    font-style: italic;
    font-size: 20px;
    color: rgb(121, 26, 26);
    padding: 10px;
}


footer {
    text-align: center;
    margin: 0;
}


